{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRUD Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cadastro/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1>Cadastro de Usuarios</h1>
            <a href="{% url 'listar_usuarios' %}">Home</a>
            <a href="{% url 'novo_usuario' %}">Novo usuario</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
