{% extends "cadastro/base.html" %}

{% block title %}Listagem de Clientes{% endblock %}

{% block content %}
    <h1>Clientes Cadastrados</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <a href="{% url 'editar_usuarios' usuario.id %}" class="btn btn-editar">Editar</a>
                    <a href="{% url 'excluir_usuario' usuario.id %}" class="btn btn-excluir">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
