@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

:root{
    --cor-de-fundo:#FFF1E2;

    --fonte-de-texto:Lato;

}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    gap: 1rem;
    

}
img{
 width: 100px;
 height: 100px;}

 .form-group{
    display: flex;
    flex-direction:row;
    gap: 10px;
    padding: 5px;
  
 
 }
 .form-group input{
    
 }